import { memo } from 'react';
import { classNames } from 'shared/lib/classNames/classNames';
import cls from './{{pascalCase name}}.module.scss';

interface {{pascalCase name}}Props {
    className?: string;
}

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
    const { className } = props;

    return (
        <div className={classNames(cls.{{pascalCase name}}, {}, [className])}>
            {/* Content */}
        </div>
    );
};

export default memo({{pascalCase name}} );
